@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500&display=swap&subset=cyrillic');

@import 'functions';

html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

* {
  box-sizing: inherit;
}

body {
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
  color: $text-dark;
}

h1, h2, h3, h4, h5, h6, p, ul {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

